[Unit]
Description=Tweet current IP
After=wifi.service

[Service]
User=replaceusername
ExecStart=replaceexecpath

[Install]
WantedBy=multi-user.target
