[Unit]
Description=Tweet current IP
Requires=ntpdate.service
After=ntpdate.service

[Service]
User=replaceusername
ExecStart=replaceexecpath

[Install]
WantedBy=multi-user.target
